<div class= "container">
	<div class="card mt-3">
		<div class="card-header">
			<h4 class="card-title"> <%= @event.title %></h4>

		</div>
    <div class="card-body">
      <%if @event.event_picture.attached?%>
        <%= image_tag @event.event_picture, :size => "300", alt: 'event picture' %>
      <%else%>
        <p>=== Il n'y a pas encore d'image pour afficher Joris ===</p>
      <%end%>
      <h6>Changer d'image ?</h6>
      <%= form_tag event_event_picture_index_path(@event), multipart: true do %>
        <%= file_field_tag :event_picture %>
        <%= submit_tag "mettre à jour" %>
      <% end %>
    </div>
		<div class="card-body">
			<p class="card-text"><strong>Description :</strong><br><%= @event.description %></p> <br>


		</div>
		<div class="card-footer d-flex justify-content-between">
		  <p class="card-text"><strong>Le mail de la balance est :</strong> <%= @event.admin.email %></p>
		</div>
	</div>






</div>
